@use '../../styles/theme' as *;

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fixpass-primary);
  color: var(--fixpass-white);
  padding : 0.5rem 1rem;

  .nav-bar-options {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    button {
      font-size: 1rem;
      border-radius: 0.5rem;
      transition: all 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &.active {
        background-color: var(--fixpass-white);
        color: var(--fixpass-primary);
        font-weight: 600;
        box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
      }
    }

    button.mat-icon-button {
      color: var(--fixpass-white);

      &:hover {
        color: var(--fixpass-accent);
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
  }  
}
