.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fixpass-primary);
  color: var(--fixpass-white);
  padding : 0.5rem 1rem;

  .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
  }
}
