@use '../../styles/theme' as *;

.profile-container {
    background: var(--fixpass-white);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    .profile-header {
        display: flex;
        justify-content: flex-end;
        height: 3rem;
    }

    .form-container {
        padding: 0 2rem 1rem 2rem;
        border-radius: 1rem;
        height: 100%;

        .form-fields {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .two-fields {
                display: flex;
                align-items: flex-start;
                gap: 0.5rem;
            }
        }

        .form-actions {
            display: flex;
            margin-top: 1rem;
            gap: 1rem;
            justify-content: center;
        }
    }
}
