@use 'styles/theme' as *;
@use '@angular/material' as mat;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-color: rgba($fixpass-bg, 0.8);
  /* For all scrollbars */
  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--fixpass-primary);
    border-radius: 0.625rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--fixpass-primary);
    border-radius: 0.625rem;
    border: 0.125rem solid var(--fixpass-primary);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--fixpass-primary);
  }

  mat-form-field {
    --mat-form-field-container-height: 2.18rem;
  }

  .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 0.6rem;
  }

  .mat-mdc-form-field-error-wrapper {
    padding: 0;
  }

  mat-error {
    color: var(--fixpass-error) !important;
  }

  .mat-mdc-option.mdc-list-item {
    background: transparent;
    backdrop-filter: blur(2.5rem);
  }

  .mat-mdc-menu-panel{
    background: transparent;
    backdrop-filter: blur(2.5rem);
    border-radius: 0.5rem;
  }
  .mat-mdc-menu-item:not([disabled]):hover{
    background: $fixpass-gray-300;
  }

  .primary-btn {
    background-color: var(--fixpass-primary);
    color: var(--fixpass-white);
    border-radius: 0.5rem;
  }

  .secondary-btn {
    background-color: var(--fixpass-secondary) !important;
    color: var(--fixpass-white) !important;
    border-radius: 0.5rem;
  }

  .full-width {
    width: 100%;
  }

  .cdk-overlay-pane {
    margin-top: -0.5rem !important;
    margin-right: -0.5rem !important;
  }

  .snackbar-success {
    background-color: var(--fixpass-success);
    color: var(--fixpass-white);
  }

  .snackbar-error {
    background-color: var(--fixpass-error);
    color: var(--fixpass-white);
  }

  .snackbar-warning {
    background-color: var(--fixpass-warning);
    color: var(--fixpass-black);
  }

  .snackbar-info {
    background-color: var(--fixpass-info);
    color: var(--fixpass-white);
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    --mat-button-text-state-layer-color: transparent;
    --mat-button-text-ripple-color: transparent;
  }
}
